@charset "UTF-8";
/* ----------------------- 1.1 - Main---------------------------------- */
.mainBox {
  height: 39%;
  width: 90%;
  margin: auto; }

.textoFacha {
  justify-content: center -2%;
  background-color: seashell; }

.tamaño {
  display: contents;
  width: 100%;
  height: 25%; }

.footer {
  box-sizing: border-box; }

.textoInforma {
  margin: 5% 7.5%;
  font-family: "Pontano Sans", sans-serif; }

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --pinterest: #bd081c;
  --linkedin: #0077b5; }

.redesContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .redesContainer ul li {
    display: inline-block;
    margin: 0 5px;
    height: 50px;
    width: 50px;
    text-align: center; }
    .redesContainer ul li a {
      display: block;
      padding: 0 10px;
      background-color: #333;
      color: #fff;
      line-height: 50px;
      font-size: 15px;
      box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
      transition: 0.2s; }
    .redesContainer ul li a:hover {
      transform: translateY(-3px) scale(1.05);
      filter: none; }
    .redesContainer ul li .instagram:hover {
      background-color: #e4405f; }
    .redesContainer ul li .twitter:hover {
      background-color: #55acee; }
    .redesContainer ul li .facebook:hover {
      background-color: #3b5998; }
    .redesContainer ul li .pinterest:hover {
      background-color: #cb2027; }
    .redesContainer ul li .linkedin:hover {
      background-color: #0077b5; }
  .redesContainer ul:hover a {
    filter: blur(2px); }

.bodyContainerProd {
  background-color: #FFF5EB; }

.breadcrumbs {
  font-family: "Poppins", "sans-serif";
  display: flex; }

#productos {
  font-family: "PoppinsB";
  margin-top: 3%;
  width: 100%;
  height: 20%;
  background-color: #BC8A5F;
  display: flex;
  box-shadow: 4px 4px 4px 4px darkgray; }
  #productos .productosStyle {
    position: relative;
    bottom: 40px;
    text-shadow: black 2px 2px 2px;
    color: aliceblue;
    font-size: 4rem;
    padding-left: 2%; }

.text-pop-up-bottom {
  -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 #cccccc, 0 7px 0 black, 0 8px 0rgb 0, 0, 0 black, 0 9px 0 black, 0 50px 30px rgba(0, 0, 0, 0.3); } }

@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 #cccccc, 0 7px 0 black, 0 8px 0rgb 0, 0, 0 black, 0 9px 0 black, 0 50px 30px rgba(0, 0, 0, 0.3); } }

.position {
  position: relative;
  top: 50px; }

#contacto {
  background-image: url(../imagenes/Form/cafe-cup-coffee-hot-mood-table-664162-wallhere.com.jpg); }

.form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 658px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border: radius 3px; }
  .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #D4A276;
    text-align: center;
    padding: 14px 0; }
    .form .form-header .form-title span {
      color: #FFF5EB; }
  .form .form-label {
    display: block;
    color: #D4A276;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative; }
  .form .form-input {
    background: rgba(8, 0, 8, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #D4A276;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF5EB;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .form .form-textarea {
    background: rgba(8, 0, 8, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #D4A276;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF5EB;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    resize: vertical;
    max-height: 150px;
    min-height: 50px; }
  .form .btn-submit {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #BC8A5F;
    font-size: 16px;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.5s ease; }
  .form .btn-submit:hover {
    background: #D4A276; }

.videoStaff {
  width: 80%;
  display: flex;
  margin: auto; }

.background-aboutUs {
  background-color: #F1CDA7;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.separador {
  border: solid 1px #844D0B;
  margin: 15px; }

.page404 {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/vectores/11104.jpg); }

.title {
  font-family: "Poppins", "sans-serif";
  color: aliceblue !important;
  height: 100px;
  width: 100%;
  text-shadow: 5px 5px 5px darkgray; }

.navbar-brand {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15rem;
  color: aliceblue; }

@font-face {
  font-family: "PoppinsB";
  src: url(../Fonts/Poppins-Black.ttf);
  font-weight: 900; }

* {
  margin: 0;
  padding: 0; }

/* ----------------------- 1. Body------------------------------------- */
body {
  letter-spacing: 0.03;
  line-height: 1.6;
  font-family: "Poppins", "sans-serif"; }

.bodyContainer {
  font-family: "Poppins", "sans-serif";
  font-size: 1.5rem;
  width: 100%;
  height: auto; }

.header {
  margin-top: 3%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  color: #3b3a3a;
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: column; }
  .header h1 {
    font-size: 1rem;
    text-shadow: 2px 2px 2px darkgray;
    text-align: center; }
  .header h2 {
    font-size: 1.7rem;
    margin-top: 2%;
    text-align: center;
    color: #3c3c41;
    text-shadow: 2px 2px 2px darkgray; }

h2 {
  font-size: 1.7rem;
  margin-top: 2%;
  text-align: center;
  color: #3c3c41;
  text-shadow: 2px 2px 2px darkgray; }

h3 {
  margin-top: 2%;
  text-align: center;
  color: #3c3c41;
  text-shadow: 2px 2px 2px darkgray; }

.row {
  font-family: "Poppins", "sans-serif";
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin: auto; }
  .row .bordeado {
    width: 330px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .row .bordeado img {
      width: 200px;
      height: 170px; }
    .row .bordeado p {
      padding: 0.02;
      font-size: 1.1rem;
      font-weight: 300; }
  .row .bordeado:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2); }

.rowContainer {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 5000px; }

/* ------------------------/1.2- Texto y footer--------------------- */
