.title {
    font-family: "Poppins", "sans-serif";
    color: aliceblue !important;
    height: 100px;
    width: 100%;
    text-shadow: 5px 5px 5px darkgray;

}

.navbar-brand{
    font-family: 'Julius Sans One', sans-serif ;
    font-size: 15rem;
    color: aliceblue;
}
