//------------------- Web palette ----------------------//
$palette1:#583101;
$palette2:#844D0B;
$palette3:#6F4518;
$palette4:#8B5E34;
$palette5:#A47148;
$palette6:#BC8A5F;
$palette7:#D4A276;
$palette8:#E7BC91;
$palette9:#F1CDA7;
$palette10:#FFF5EB;