@import "mains";
@import "footer";
@import "paletteColors";
@import "paginaStyles";
@import "sucursales";
@import "nav-and-Tittle";
@import "fonts";
* {
    margin: 0;
    padding: 0;
}

/* ----------------------- 1. Body------------------------------------- */
body {
    letter-spacing: 0.03;
    line-height: 1.6;
    font-family: "Poppins", "sans-serif";
}
.bodyContainer {
    font-family: "Poppins", "sans-serif";
    font-size: 1.5rem;
    width: 100%;
    height: auto;
}
.header {
    margin-top: 3%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: rgb(59, 58, 58);
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 1rem;
        text-shadow: 2px 2px 2px darkgray;
        text-align: center;
    }
    h2 {
        font-size: 1.7rem;
        margin-top: 2%;
        text-align: center;
        color: rgb(60, 60, 65);
        text-shadow: 2px 2px 2px darkgray;
    }
}
h2 {
    font-size: 1.7rem;
    margin-top: 2%;
    text-align: center;
    color: rgb(60, 60, 65);
    text-shadow: 2px 2px 2px darkgray;
}
h3{
    margin-top: 2%;
    text-align: center;
    color: rgb(60, 60, 65);
    text-shadow: 2px 2px 2px darkgray;
}
.row {
    font-family: "Poppins", "sans-serif";
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    .bordeado {
        width: 330px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        img {
            width: 200px;
            height: 170px;
        }
        p {
            padding: 0.02;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
    .bordeado:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    }
}
.rowContainer {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5000px;
}
/* ------------------------/1.2- Texto y footer--------------------- */
